{% extends "customer_navbar.html" %}
{% block title %}Search Cars{% endblock title %}

{% block css %}
  
{% endblock css %}

{% block body %}
  

<div class="container">
    <div class="p-5 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="displat-5 fw-bold">Welcome to Online Car Rental System</h1>
            <p class="col-md-8 fs-4">You can enter your city below and see the list of available cars.</p>
        </div>
        <form action="/search_results/" method="post" class="w3-container">
            {% csrf_token %}
            <br><br>
            <label><i style="font-weight: bold; font-size: large;">Enter City Name:</i></label>
            <input type="text" name="city" class="form-control mt-3"><br>
            <button type="submit" class="btn btn-primary">Search Car</button>
        </form>
    </div>
</div>
{% endblock body %}