{% extends 'car_dealer_navbar.html' %}
{% block title %} Edit Car Details {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-5">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row mt-2">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Car Name</i></label>
                <input type="text" name="car_name" class="form-control" value="{{car.name}}" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group col-md-6">
                <label><i style="font-weight: bold;">City</i></label>
                <input type="text" class="form-control" name="city" value="{{car.location.city}}" required>
            </div>
            <div class="form-group col-md-6">
                <label><i style="font-weight: bold;">Car Image &nbsp;&nbsp;&nbsp;<a href="/media/{{car.image}}/">View Image</a></i></label>
                <input type="file" class="form-control" name="image">
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Capacity</i></label>
                <input type="number" class="form-control" name="capacity" value="{{car.capacity}}" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Rent (per day)</i></label>
                <input type="number" class="form-control" name="rent" value="{{car.rent}}" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4 btn-lg">Update Details</button>
    </form>
</div>
{% endblock %}
{% block js %}
{% if alert %}
<script>
    alert("Car Details Updated Successfully.");
    document.location = "/all_cars"
</script>
    {% endif %}
{% endblock %}